<h3>PSEUDO : {{ user.pseudo }}</h3>


<h3>Paramètres patient : </h3>

<h4>INR : {{ form.inr }}</h4>

<h4>Température : {{ form.temperature }}</h4>

<h4>Poids : {{ form.poids }}</h4>

<h4>PAM : {{ form.pam }}</h4>

<h4>PA Systolique : {{ form.pasyst }}</h4>

<h4>PA Diastolique : {{ form.padiast }}</h4>
<br>

<h3>Evènements récents : </h3>

<h4>Trouble de la vision : {{ form.troubleVision }}</h4>

<h4>Sang dans les urines : {{ form.sangUrines }}</h4>

<h4>Sang dans les selles : {{ form.sangSelles }}</h4>

<h4>Selles noires : {{ form.sellesNoires }}</h4>

<h4>Essouflement au repos : {{ form.essoufflement }}</h4>
<br>



<h3>Orifice de la drive line : </h3>

<h4>Rouge : {{ form.drvLnRouge }}</h4>

<h4>Douloureux : {{ form.drvLnDouloureux }}</h4>

<h4>Ecoulement : {{ form.drvLnEcoulement }}</h4>

<br>

<h3>Paramètres du VAD : </h3>

<h4>Flow : {{ form.vadFlow }}</h4>

<h4>Power : {{ form.vadPower }}</h4>

<h4>Alarmes récentes : {{ form.vadAlarmesRecentes }}</h4>

<br>